/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
dist/
docker-compose.override.yml
Thunar.app/
.DS_Store
/.fleet
/.idea
/.vscode
*.log
.env.local
.env.*.local
